sudo apt install build-essential flex bc libelf-dev pahole;
git clone 'https://github.com/microsoft/WSL2-Linux-Kernel.git' --single-branch --depth 1 --recurse-submodules;
cd WSL2-Linux-Kernel;
make KCONFIG_CONFIG=Microsoft/config-wsl -j$(nproc);
sudo make modules_install;
sudo make install;
sudo cp /boot/vmlinuz-6.6.36.6-microsoft-standard-WSL2+ /mnt/c/Users/<YourUsername>/vmlinuz-6.6.36.6-microsoft-standard-WSL2+;
printf '[wsl2]\nkernel=C:\\\\Users\\\\<YourUsername>\\\\vmlinuz-6.6.36.6-microsoft-standard-WSL2+\n' | sudo tee --append /mnt/c/Users/<YourUsername>/.wslconfig
sudo reboot now;
